%ul.nav.nav-list
  %li.nav-header Sidebar
  %li= link_to "Редактировать школу", "new_user_school_path(:user_id => current_user.id)"
  %li= link_to "Добавить члена школы", "new_user_school_path(:user_id => current_user.id)"
  %li= link_to "Просмотр членов школы или поиск по инструкторам", "new_user_school_path(:user_id => current_user.id)"
  %li= link_to "Просмотр студентов", "new_user_school_path(:user_id => current_user.id)"
  %li= link_to "Просмотр других членов", "new_user_school_path(:user_id => current_user.id)"
  %li= link_to "Создать статью школы", "new_user_school_path(:user_id => current_user.id)"
  %li= link_to "Создать расписание для групп", "new_user_school_path(:user_id => current_user.id)"