%h1 Список учеников

.well
  %table.table.table-striped.pretty
    %tr
      %th ID
      %th Photo
      %th ФИО
      %th Status
      %th Role
      %th Редактировать профиль
      %th Отчислить

    - @users.each do |user|
      %tr
        %td= user.id
        %td= image_tag user.avatar.url(:large)
        %td= link_to user.full_name, user_path(user)
        %td= user.status
        %td= user.role
        %td= link_to "Редактировать", "#" #edit_user_path(user)
        %td= link_to "Отчислить ученика", "#" #school_expelled_path(:school_id => @school.id, :id => user.id)

= link_to 'Добавить Нового участника школы', new_user_path
-#.control-group
-#        = f.label :id, 'Школа', :class => 'control-label'
-#        .controls
-#          = f.collection_select :school_id,   @schools, :id, :school_name, :prompt => true
-#      .control-group
-#        = f.label :role, 'Роль', :class => 'control-label'
-#        .controls
-#          = f.collection_select :role, User::ROLES, :to_s, :humanize
-#      .control-group
-#        = f.label :level, 'Level', :class => 'control-label'
-#        .controls
-#          = f.select :level, User::LEVEL, {:prompt => 'Select Level' , :include_blank => true}
-#      .control-group
-#        = f.label :status, 'Status', :class => 'control-label'
-#        .controls
-#          = f.select :status, User::STATUS, {:prompt => 'Select Status' , :include_blank => true}