%h1 Список учеников

.well
  %table.table.table-striped.pretty
    %tr
      %th ID
      %th Photo
      %th ФИО
      %th Редактировать профиль
      %th Отчислить

    - @users.each do |user|
      %tr
        %td= user.id
        %td= image_tag user.avatar.url(:large)
        %td= link_to user.full_name, [@school, user]
        %td= link_to "Редактировать", [:edit, @school, user]
        %td= link_to "Отчислить", [@school, user], :method => :delete

= link_to 'Добавить нового участника школы', new_school_user_path