%h1 Список учеников

.well
  %table.table.table-striped.pretty
    %tr
      %th ID
      %th Photo
      %th ФИО
      %th Редактировать профиль
      %th Отчислить

    - @users.each do |user|
      %tr
        %td= user.id
        %td= image_tag user.avatar.url(:large)
        %td= link_to user.full_name, [@school, user]
        %td= link_to "Редактировать", [:edit, @school, user]
        %td= link_to "Отчислить ученика", "#" #school_expelled_path(:school_id => @school.id, :id => user.id)

= link_to 'Добавить нового участника школы', users_path