.form-horizontal
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    .form-group
      %lable.col-sm-2.control-label
        = f.label :email
      .col-sm-10
        = f.text_field :email, autofocus: true, class: 'form-control'
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .form-group
      %lable.col-sm-2.control-label
        = f.label :password
      .col-sm-10
        = f.password_field :password, autocomplete: "off", class: 'form-control'
        %i (leave blank if you don't want to change it)
    .form-group
      %lable.col-sm-2.control-label
        = f.label :password_confirmation
      .col-sm-10
        = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
    .form-group
      %lable.col-sm-2.control-label
        = f.label :current_password
      .col-sm-10
        = f.password_field :current_password, autocomplete: 'off', class: 'form-control'
        %i (we need your current password to confirm your changes)
    .form-group
      .col-sm-10.col-sm-2.pull-right
        = f.submit 'Update', class: 'btn btn-default'
  .form-group
    .col-md-6.col-md-offset-3
      = link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-default btn-lg btn-block text-center'
  .form-group
    .col-sm-10.col-sm-2.pull-right
      = link_to "Back", :back, class: 'btn btn-primary'