%h2
  Edit #{resource_name.to_s.humanize}
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!

  = f.label :email
  = f.email_field :email

  = f.label :login
  = f.text_field :login
  Обратите внимание! Этот логин, в дальнейшем будет импользоваться для входа на сайт!

  = f.label :password
  = f.password_field :password, :autocomplete => "off"

  = f.label :password_confirmation
  = f.password_field :password_confirmation

  = f.label :current_password
  = f.password_field :current_password

  %div
    = f.submit "Update"
%h3 OR
%p
  = link_to "Go to home page", root_path, :class => "btn"
  |
  #{link_to "show my profile", user_path(resource.id), :class => "btn"}