%h1
  Здравствуйте уважаемый #{@user.full_name || "боец"}!

Вас добавили на портал боевых искусств
= link_to "Gladius", root_url(:only_path => false)
%p
  Ваш login: #{@user.login}

  Ваш пароль: #{@password}
%p
  Пройдите по следующей ссылке для входа на сайт

  = link_to "Sign_in", root_url(:only_path => false)

