= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .actions
    %fieldset
      - if @user == current_user
        .control-group
          = f.label :last_name, 'Фамилия', :class => 'control-label'
          .controls
            = f.text_field :last_name, :class => 'input-xlarge'
        .control-group
          = f.label :first_name, 'Имя', :class => 'control-label'
          .controls
            = f.text_field :first_name, :class => 'input-xlarge'
        .control-group
          = f.label :second_name, 'Отчество', :class => 'control-label'
          .controls
            = f.text_field :second_name, :class => 'input-xlarge'
            = f.file_field :avatar
        .control-group
          = f.label :birthday, 'Birthday', :class => 'control-label'
          .controls
            = f.date_select(:birthday, :start_year => 1900, :order => [:day, :month, :year], :class => 'input-xlarge')
        .control-group
          = f.radio_button :sex, false
          .controls
            = f.label :sex, "Мужской"
          = f.radio_button :sex, true
          .controls
            = f.label :sex, "Женский"
        .control-group
          = f.label :weight, 'Weight', :class => 'control-label'
          .controls
            = f.text_field :weight, :class => 'input-xlarge'
        .control-group
          = f.label :email, 'Email', :class => 'control-label'
          .controls
            = f.email_field :email, :class => 'input-xlarge'

          = f.fields_for :contact_info do |c|
            = c.fields_for :sites do |s|
              .control-group
                = s.label :body, 'sites', :class => 'control-label'
                .controls
                  = s.text_field :body, :class => 'input-xlarge'
            = c.fields_for :phones do |p|
              .control-group
                = p.label :body, 'phones', :class => 'control-label'
                .controls
                  = p.text_field :body, :class => 'input-xlarge'
            = c.fields_for :skypes do |sk|
              .control-group
                = sk.label :body, 'skypes', :class => 'control-label'
                .controls
                  = sk.text_field :body, :class => 'input-xlarge'
            = c.fields_for :emails do |e|
              .control-group
                = e.label :body, 'emails', :class => 'control-label'
                .controls
                  = e.text_field :body, :class => 'input-xlarge'
            .control-group
              = c.label :country, 'Country', :class => 'control-label'
              .controls
                = c.text_field :country, :class => 'input-xlarge'
            .control-group
              = c.label :city, 'City', :class => 'control-label'
              .controls
                = c.text_field :city, :class => 'input-xlarge'
            .control-group
              = c.label :address, 'Address', :class => 'control-label'
              .controls
                = c.text_field :address, :class => 'input-xlarge'
        .control-group
          = f.label :about, 'About', :class => 'control-label'
          .controls
            = f.text_field :about, :class => 'input-xlarge'

      - if (can? :update, @user) && (current_user.role == "manager")
        .control-group
          = f.label :id, 'Школа', :class => 'control-label'
          .controls
            = f.collection_select :user_school_relations, @schools, :id, :school_name, {:prompt => 'Select school', :include_blank => '---'}, :class => 'input-xlarge'
        .control-group
          = f.label :role, 'Роль', :class => 'control-label'
          .controls
            = f.collection_select :role, User::ROLES, :to_s, :humanize
      - if can? :update, @user
        .control-group
          = f.label :level, 'Level', :class => 'control-label'
          .controls
            = f.select :level, User::LEVEL, {:prompt => 'Select Level' , :include_blank => true}
        .control-group
          = f.label :status, 'Status', :class => 'control-label'
          .controls
            = f.select :status, User::STATUS, {:prompt => 'Select Status' , :include_blank => true}

    = f.submit 'Save'
