%h1 Listing users

.well
  %table.table.table-striped.pretty
    %tr
      %th ID
      %th Photo
      %th ФИО
      %th Role
      - if current_user.user_school_relations.any?
        %th Возможные операции

    - @users.each do |user|
      %tr
        %td= user.id
        %td= image_tag user.avatar.url(:large)
        %td= link_to user.full_name, user_path(user)
        %td= user.role
        - if current_user.user_school_relations.any?
          %td= link_to "Пригласить пользователя", invite_send_mailers_path(:invite_id => user.id)