%p#notice= notice



%table.table.table-striped
  %tbody
    %tr
      %th ФИО:
      %td=@user.full_name
    %tr
      %th День рождния:
      %td=@user.birthday
    %tr
      %th Пол:
      %td=@user.sex ? "Женский" : "Мужской"
    %tr
      %th Weight:
      %td=@user.weight
    %tr
      %th Level:
      %td=@user.level
    %tr
      %th Status:
      %td=@user.status
    %tr
      %th Emails:
      %td=(@user.user_contact_info('emails').blank? ? @user.email : "#{@user.email}, #{@user.user_contact_info('emails')}")
    %tr
      %th Sites:
      %td=@user.user_contact_info('sites')
    %tr
      %th Skypes:
      %td=@user.user_contact_info('skypes')
    %tr
      %th Phones:
      %td=@user.user_contact_info('phones')
    %tr
      %th Country:
      %td=@user.contact_info.country
    %tr
      %th City:
      %td=@user.contact_info.city
    %tr
      %th Address:
      %td=@user.contact_info.address
    %tr
      %th About:
      %td=@user.about


= link_to 'Edit', edit_user_path(@user) if @user == current_user

= link_to 'Back', users_path
