%p#notice= notice



%table.table.table-striped
  %tbody
    %tr
      %th ФИО:
      %td=@user.full_name
      %tr
        %td= image_tag @user.image.avatar.url(:thumb)
    %tr
      %th День рождния:
      %td=@user.birthday
    %tr
      %th Пол:
      %td= get_sex
    %tr
      %th Weight:
      %td=@user.weight
    %tr
      %th Role:
      %td=@user.role
    %tr
      %th Emails:
      %td= @user.email
    %tr
      %th Sites:
      %td=@user.contact_info.site
    %tr
      %th Skypes:
      %td=@user.contact_info.skype
    %tr
      %th Phones:
      %td=@user.contact_info.phone
    %tr
      %th Country:
      %td=@user.contact_info.country
    %tr
      %th City:
      %td=@user.contact_info.city
    %tr
      %th Address:
      %td=@user.contact_info.address
    %tr
      %th About:
      %td=@user.about


= link_to 'Edit', edit_user_path(@user)
= link_to 'Back', users_path
