.form-inline
  = form_tag schools_path, :method => :get do
    %p
      = text_field_tag :search, params[:search]
      = submit_tag "Search", :name => nil

- unless @search.blank?
  .results
    - @search.each_hit_with_result do |hit, post|
      .result
        %p= h post.name
        %p= h truncate(post.info, :length => 100)
  .pagination
    = will_paginate(@search.results)