
- if @school.errors.any?
  #error_explanation
    %h2= "#{pluralize(@school.errors.count, "error")} prohibited this user from being saved:"
    %ul
      - @school.errors.full_messages.each do |msg|
        %li= msg

.actions
  %fieldset
    .control-group
      = f.label :name, 'Name', :class => 'control-label'
      .controls
        = f.text_field :name, :class => 'input-xlarge'
    .control-group
      = f.label :date_of_foundation, 'Date of foundation', :class => 'control-label'
      .controls
        = f.date_select(:date_of_foundation, :start_year => 1900, :order => [:day, :month, :year], :class => 'input-xlarge')
    .control-group
      = f.label :status, 'Status', :class => 'control-label'
      .controls
        = f.text_field :status, :class => 'input-xlarge'
    .control-group
      = f.label :info, 'Info', :class => 'control-label'
      .controls
        = f.text_area :info, :class => 'input-xlarge'
  = f.submit 'Save'
