- if @schools.present?
  %h1 List of schools

  %table.table.table-striped.pretty
    %tr
      %th= 'Id'
      %th= sortable :name
      %th= sortable :status
      %th= sortable :the_number_of_members

    - @schools.each do |school|
      %tr
        %td= school.id
        %td= link_to school.name, school_path(school.id)
        %td= school.status
        %td= link_to school.the_number_of_members, school_members_path(school), :method => :get
- else
  %p
  .alert.alert-info
    Школы пока не созданы

- content_for :sidebar_left, render( partial: 'shared/sidebar_left', locals: {title: 'Schools info', paragraph: 'top 10 schools'} )

- content_for :sidebar_right, render(:partial => 'shared/sidebar_right')

= paginate(@search.hits)