%h1 List of schools

.well
  %table.table.table-striped.pretty
    %tr
      %th ID
      %th Название школы
      %th Количество учеников
      %th Редактировать школу
      %th Удалить школу

    - @schools.each do |school|
      %tr
        %td= school.id
        %td= link_to school.name, user_school_path(:user_id => current_user.try(:id) || '#', :id => school.id)
        %td= link_to school.user_school_relations.count, school_members_path(school), :method => :get
        %td= link_to "Edit", edit_user_school_path(:user_id => current_user.try(:id) || '#', :id => school.id)
        %td= link_to "Delete", user_school_path(:user_id => current_user.try(:id) || '#', :id => school.id),
                                                :confirm => "Are you sure?", :method => :delete