%h1 Listing schools

.well
  %table.table.table-striped.pretty
    %tr
      %th ID
      %th Название школы
      %th Количество учеников
      %th Редактировать школу
      %th Удалить школу

    - @schools.each do |school|
      %tr
        %td= school.id
        %td= link_to school.school_name, school_users_path(school)
        %td= school.user_school_relations.count
        %td= link_to "Edit", edit_school_path(school)
        %td= link_to "Delete", school_path(school), :method => :DELETE