%p#notice= notice


%table.table.table-striped
  %tbody
    %tr
      %th Название школы:
      %td= @school.name
    %tr
      %th Дата основания
      %td= @school.date_of_foundation
    %tr
      %th Статус
      %td= @school.status
    %tr
      %th Информация
      %td= @school.info
    %tr
      %th Количество учеников
      %td= link_to "#{@school.user_school_relations.count} студен(ов)", school_members_path(@school)
    %tr
      %th Добавить нового члена школы
      %td= link_to 'New member', new_school_member_path(@school)

= link_to 'Edit', edit_user_school_path(@user, @school)

= link_to 'Back', :back
