%p#notice= notice


%table.table.table-striped
  %tbody
    %tr
      %th Название школы:
      %td= @school.school_name
    %tr
      %th Дата основания
      %td= @school.date_of_foundation
    %tr
      %th Статус
      %td= @school.status
    %tr
      %th Информация
      %td= @school.info
    %tr
      %th Количество учеников
      %td= @school.user_school_relations.count
    %tr
      %th Добавить нового члена школы
      %td= link_to "New member", new_school_member_path(@school)

= link_to 'Edit', [:edit, @school]

= link_to 'Back', schools_path
