%h3 Listing members

.well
  %table.table.table-striped.pretty
    %tr
      %th ID
      %th Photo
      %th FSL
      %th Status
      %th Actions

    - @members.each do |member|
      %tr
        %td= member.id
        %td= image_tag member.avatar.url(:large)
        %td= link_to member.full_name, school_member_path(:id => member.id)#, :method => :get
        %td= member.user_school_relations.first.status
        %td= link_to 'Deduct', school_member_path(:id => member.id), :method => :delete
