%h3 These members of the school

%table.table.table-striped
  %tbody
    %tr
      %th ФИО:
      %td=@member.full_name
      %tr
        %td= image_tag @member.avatar.url(:thumb)
    %tr
      %th День рождния:
      %td=@member.birthday
    %tr
      %th Пол:
      %td= @member.sex ? "Женский" : "Мужской"
    %tr
      %th Weight:
      %td=@member.weight
    %tr
      %th Role:
      %td=@member.user_school_relation.role
    %tr
      %th Level:
      %td=@member.user_school_relation.level
    %tr
      %th Status:
      %td=@member.user_school_relation.status
    %tr
      %th Email:
      %td= @member.email
    %tr
      %th Site:
      %td=@member.contact_info.site
    %tr
      %th Skype:
      %td=@member.contact_info.skype
    %tr
      %th Phone:
      %td=@member.contact_info.phone
    %tr
      %th Country:
      %td=@member.contact_info.country
    %tr
      %th City:
      %td=@member.contact_info.city
    %tr
      %th Address:
      %td=@member.contact_info.address
    %tr
      %th About:
      %td=@member.about


= link_to 'Edit', edit_school_member_path
= link_to 'Back', school_members_path
